@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 300;
  src: url(../font/NanumBarunGothicLight.eot);
  src: local('Nanum Barun Gothic Light'),
       local('NanumBarunGothicLight'),
       url(../font/NanumBarunGothicLight.eot?#iefix) format('embedded-opentype'),
       url(../font/NanumBarunGothicLight.woff2) format('woff2'),
       url(../font/NanumBarunGothicLight.woff) format('woff'),
       url(../font/NanumBarunGothicLight.ttf) format('truetype');
}

@font-face {
    font-family:'rocket';
    src:url(../font/rocket.otf);
    src:url(../font/rocket.woff);
}

@font-face {
    font-family:'oldPhoto';
    src:url(../font/old_photo_studio.otf);
    src:url(../font/old_photo_studio.woff);
}

* {margin:0; padding:0; box-sizing: border-box; }

a{
    display:block;
    text-decoration: none;
    color:#000;
    
}
li{
    list-style: none;
}
span {
    display:block;
}
img {
    width:100%;
}
body,html {
    font-family: 'Nanum Barun Gothic';
    margin:0;
}
/*header*/

.wrap {
    width:100%;
}

.follow {
    font-family: 'rocket';
    font-size:1.5em;
    z-index:100;
    position:fixed;
    top:40%;
    left:50px;
}

.history-tl-container{
  display:block;
  position:relative;
}
.history-tl-container ul.tl{
    font-family:'rocket';
    margin:0;
    padding:0;
    display:inline-block;

}
.history-tl-container ul.tl li{
    list-style: none;
    margin:auto;
    margin-left:0px;
    min-height:30px;
    padding:0 0 15px 30px;
    position:relative;
    transition: all .35s ease-in-out;
}

.history-tl-container ul.tl li:last-child{ border-left:0;}

.history-tl-container ul.tl li::before{
    content: "";
    display: block;
    position: absolute;
    top: 30%;
    left: 0.2rem;
    width: 0.7rem;
    height: 0.7rem;
    margin-top: -0.35rem;
    border-radius: 50%;
    background: #000;
    opacity: 0.2;
    transition: all .2s ease-in-out;

}

.history-tl-container ul.tl li.active::before {
   left: 0;
   width: 1.1rem;
   height: 1.1rem;
   opacity: 1;
}

.history-tl-container ul.tl li:hover::before{
   left: 0;
   width: 1.1rem;
   height: 1.1rem;
   opacity: 1;
   transition: all .2s ease-in-out;
}


/*글씨 효과*/
.history-tl-container ul.tl li .item-title{
   opacity: 0.2;
   transition: all .2s ease-in-out;
}

.history-tl-container ul.tl li .item-title:hover {
    opacity: 1;
    transition: all .2s ease-in-out;
}

.history-tl-container ul.tl li .item-title.active{
    opacity: 1;
}
/*글씨 효과*/


.history-tl-container ul.tl li .item-detail{
    color:rgba(0,0,0,0.5);
    font-size:12px;
}
.history-tl-container ul.tl li .timestamp{
    color: #8D8D8D;
    position: absolute;
  width:100px;
    left: -50%;
    text-align: right;
    font-size: 12px;
}



/*section_we*/




.section {
    width:100%;
    background-color:#ffca00;
    box-sizing: border-box;
} 
.section_wrap {
    width:75%;
    max-width:1400px;
    height:100%;
    margin:0 auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.section_wrap .info {
    
    width:35%; 
    min-width:360px;
    height:460px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}
.section_wrap .info .number {
    width:40px;
}


.section_wrap .info .txt .title{
    font-family:'rocket';
    font-size:1.7em;
}
.section_wrap .info .ex{
    line-height: 1.5;
    font-size:1.1em;
    letter-spacing: 1px;
}

.section_wrap .info .line {
    
    display:inline;
    font-size:1.15em;
    background-color:#000;
    color:#ffca00;
    padding:0 5px;
}

.section_wrap .info .btn_wrap {
    display:flex;
}

.section_wrap .info .more {
    width:150px;    
    text-align: center;
    font-size:18px;
    
    
}

.section_wrap .info .more a{ display:block; width:100%;
    border:2px solid #000; height:35px; line-height: 35px; box-sizing: border-box; }



/*hover*/

.section .section_wrap .info .more:hover a{
    background-color:#000;
    color:#ffca00;
} 


.section .data ul li div div {
    
    text-align: center;    
}

.section .place ul li div div {
    margin:0 auto;
    
}
.section .data ul li .place_content div .tit {
    font-size:1.5em;
    font-family:'oldPhoto';
}
.section .data ul li div div span {
    line-height: 1.5;
    margin-top:1rem;
    height:180px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: wrap;
}




/*section_we_end*/




/*section2_where*/




.section_where {
    
    background-color:#fff;
} 


.section_where .where_wrap .info  .btn_wrap .more{ margin-right:10px;}



.section_where .place ul {
    display:flex;
    justify-content: space-around;
    height:460px;
}
.section_where .place ul li {
   
    background-color:rgba(0,0,0,0.3);
    
}
.section_where .place ul li div div {
    
    padding-top:10px;
    
}
.section_where .place ul li div div p {
    margin-top:20px;
    font-family:'oldPhoto';
}
.section_where .place ul li div div span {
    line-height: 1.5;
    height:180px;
    margin-top:1rem;
}

/*section2_where_end*/




/*section_what*/


.section_what {
    
    background-color:#00c284;
} 



.section .place{
    width:60%;
    max-width:800px;
    
}

.section .place ul {
    display:flex;
    justify-content: space-around;
    height:460px;
}

.section .place ul li {
    width:33.3%;
    display:flex;
    align-items: center;   
    justify-content: center;
    max-width:250px;
    border-radius: 20px;
    padding:15px;
    margin:0 10px;
    height:98%;
    background:rgba(255 255 255 / 50% )
}

.section.section_where .place ul li {
    background:rgba(0 0 0 / 30%);
}


.section_what .place ul li {
   
    background-color:rgba(255,255,255,0.5);
    
}


/*what_place*/


.section .place ul li .place_content > div {

    text-align: center;
 
}

.section.section_how ul li .c3 .icon { width:50%; }

.section_what .place ul .place_content > div> .i_wrap {margin-top:20px;}

.section_what .place ul .place_content > div .hot {
    width:30px;
    height:30px;
    background-color:#f88d8d;
    border-radius: 50px;
    padding:none;
    line-height: 30px;
    float: left;
}

.section_what .place ul li > div > .text {
    margin-top:20px;
}
.section_what .place ul li div div .hot_txt {
    font-family:'oldPhoto';
    font-weight: bold;
    font-size: 20px;
}
.section_what .place ul .place_content div .text .hot p {
     font-family:'oldPhoto';
    font-size:12px;
    font-weight: bold;
    color:#fff;
}

.section_what .place ul li div .tit {
    margin-top:20px;
    font-size:1.5em;
    font-family:'oldPhoto';
    
}

.tit {font-weight: bold; }

.section_what .place ul li .place_content div span {
    height:150px;
    line-height: 1.5;
    margin-top:1rem;
}

.section.section_how .place .now { margin-top:1rem; text-align: center; line-height: 1.5; }

/*what_place1_end*/


/*section_what_end*/



/*section_how*/




.section_how {
    
    background-color:#ff8a00;
} 



/*section_how_end*/

@media screen and (max-width:1000px) {
    
    .pc_only {display:none}
    
    .section{  width:100%; height:100%; padding:0 20px; box-sizing: border-box; }
    
    .section_wrap {width:100%; max-width: inherit; flex-direction: column; padding:5rem 0 5rem 0;}
    
    .section_wrap.we_wrap { padding-top:8rem; }
    
    .section_wrap .info .ex { margin-top:1rem; }
    
    .follow { display:none; }
    
    .pc_only { display:none; }
    
    .section_wrap .info {width:100%; height:50%; }
    
    .section .place {width:100%; height:50%; margin-top:1rem;}
    
    .section .place ul { height:100%; }
    
    .section_wrap .info .more {width:100%; margin-top:1rem;}
    
    .section_what .place ul li .place_content div span { line-height: 1.5;  }
    
    .section_what .place ul li div .tit { font-size:1em; }
    
    .section .data ul li .place_content div .tit { font-size:1em; }
    
    .section .place ul li {width:50%;}
    
    .section.section_how ul li .c3 .icon {width:50% !important;}
    
    .section_where .place ul li div div span { height:100%; }
    
}

/*@media screen and (max-width:700px) {}*/
























