@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 300;
  src: url(../font/NanumBarunGothicLight.eot);
  src: local('Nanum Barun Gothic Light'),
       local('NanumBarunGothicLight'),
       url(../font/NanumBarunGothicLight.eot?#iefix) format('embedded-opentype'),
       url(../font/NanumBarunGothicLight.woff2) format('woff2'),
       url(../font/NanumBarunGothicLight.woff) format('woff'),
       url(../font/NanumBarunGothicLight.ttf) format('truetype');
}

@font-face {
    font-family:'rocket';
    src:url(../font/rocket.otf);
    src:url(../font/rocket.woff);
}

@font-face {
    font-family:'oldPhoto';
    src:url(../font/old_photo_studio.otf);
    src:url(../font/old_photo_studio.woff);
}

* {margin:0; padding:0; box-sizing: border-box; }

a{
    display:block;
    text-decoration: none;
    color:#000;
    
}
li{
    list-style: none;
}
span {
    display:block;
}
img {
    width:100%;
}
body,html {
    font-family: 'Nanum Barun Gothic';
    margin:0;
    position:relative;
}


/*header*/


#menu_btn {display:none;}


header{
    width:100%;
    height:85px;
    border-bottom: 2px solid #676767;
    position:fixed;
    background-color:#fff;
    z-index: 10;
    
}
header .h_wrap {
    width:95%;
    max-width:1760px;
    display:flex;
    margin:0 auto;
    padding-top:30px;
    
    justify-content: space-between;
}
header .h_wrap .logo {
    width:190px;
    height:25px;
    
}
header .h_wrap nav {
    max-width:750px;
    padding-top:10px;
    
}
header>.h_wrap>nav>ul {
    display:flex;
    justify-content: space-between;
    flex: auto;
}
header>.h_wrap>nav>ul>li {
    text-align: center;
    font-weight: bold;
    
    
}
header>.h_wrap>nav>ul>li>a {
    padding:0 40px;
    height:45px;
}

header .h_wrap nav ul li .sub{
    position:relative;
    width:100%;
    padding-top:20px;
    background-color:#fff;
    height:150px;
    
}

header .h_wrap nav ul li .sub:last-child li{
    padding:25px 0;
}
header .h_wrap nav ul li:first-child .sub:before {
    
    content: "";
    width:400%;
    height:170px;
    position:absolute;
    top:0;
    left:-400%;
    background-color:#fff;
    
}

header .h_wrap nav ul li:last-child .sub:after {
    display:block;
    content: "";
    width:1000%;
    height:170px;
    position:absolute;
    top:0;
    right:-1000%;
    background-color:#fff;
    
}

/*header .h_wrap nav ul li:hover .sub{
     display:block;
}*/


header .h_wrap nav ul li .sub li:hover a {
    color:#ffca00;
}

header>.h_wrap>nav>ul>li:hover> a {
    box-sizing:border-box;
    color:#ffca00;
    border-bottom: 2px solid #ffca00;
}


header .h_wrap .side_menu {
    display:flex;
    width:25%;
    height:25px;
    padding-top:10px;
    
}
header .h_wrap .side_menu > ul{
    display:flex;
    justify-content: space-between;
}
header .h_wrap .side_menu .s_wrap{
    width:100%;
    display:flex;
    flex:auto;
}
header .h_wrap .side_menu .s_wrap ul {
    display:flex;
    justify-content: space-between;
    
}

header .h_wrap .side_menu .s_wrap ul li {
    margin:0 10px;
}

header .h_wrap .side_menu .s_wrap ul li a {
    padding:0 5px;
    font-weight: bold;
}
header .h_wrap .side_menu .s_wrap ul li:hover a {
    color: #ffca00;
}
header .h_wrap .side_menu .sns_menu {
    width:50%;
    
}
header .h_wrap .side_menu .sns_menu ul {
    display:flex;
    justify-content: space-between;
    
}

header .h_wrap .side_menu .sns_menu ul li {
    margin:0 5px;
    
    
}

header .h_wrap .side_menu .sns_menu ul li a {
    width: 30px;
    padding:0 5px;
    border-spacing: inherit;
}



.m_menu { position:fixed; display:flex;justify-content: center; flex-direction: column; top:0; right:-100%; width:100%; height:100%; z-index: 8; background:rgba(255 255 255 / 0% );  padding:0 30px; transition:all 0.5s; box-sizing: border-box; }

.m_menu.active { right:0%; background:rgba(255 255 255 / 90% ); }



#menu_btn { position:absolute; top:20px; right:20px; z-index: 100;  }

#m_nav {width:100%; height:20%; }

#m_nav a { display: inline; }

#m_nav .m_nav_wrap {width:100%; }

#m_nav .m_nav_wrap .list {  font-family:'rocket'; padding:1rem 0; font-size:1.3em; }

#m_nav .m_nav_wrap .list a { position:relative; transition: all 0.35s; }

#m_nav .m_nav_wrap .list a:hover { color:#ffca00; }

#m_nav .m_nav_wrap .list a:before { transition: all 0.35s; }

#m_nav .m_nav_wrap .list a:hover:before { font-family:xeicon;  top:0; left:0;  content: "\e907"; font-size:20px; padding-right: 0.5rem; color:#ffca00; }




.m_menu .side_menu {width:100%; height:30%;}

.m_menu .side_menu .login_join {width:100%; margin-top:3rem; }

.m_menu .side_menu .login_join .login_join_list_wrap {display:flex; flex:auto; }

.m_menu .side_menu .login_join .login_join_list_wrap .list {margin-right:15px; font-weight: bold; }

.m_menu .side_menu .login_join .login_join_list_wrap .list a:hover { color:#ffca00; }

.m_menu .side_menu .sns {width:100%; margin-top:2rem;}

.m_menu .side_menu .sns .sns_list_wrap {display:flex; flex:auto;}

.m_menu .side_menu .sns .sns_list_wrap .list {width:40px; margin-right:15px;}




/*header-end*/

@media screen and (max-width:1000px) {
    
    
    
    header {height:60px}
    
    .pc_nav {display:none;}
    
    #menu_btn {display:block;}
    
    #menu_btn {width:6%; z-index: 11;}
    
    #menu_btn a {font-size:1.5em;}
    
    header .h_wrap {padding-top:1.5rem;}
    
    header .h_wrap .side_menu {display:none; }
    
    header .h_wrap .logo{width:130px;}
}
