@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 300;
  src: url(../font/NanumBarunGothicLight.eot);
  src: local('Nanum Barun Gothic Light'),
       local('NanumBarunGothicLight'),
       url(../font/NanumBarunGothicLight.eot?#iefix) format('embedded-opentype'),
       url(../font/NanumBarunGothicLight.woff2) format('woff2'),
       url(../font/NanumBarunGothicLight.woff) format('woff'),
       url(../font/NanumBarunGothicLight.ttf) format('truetype');
}

@font-face {
    font-family:'rocket';
    src:url(../font/rocket.otf);
    src:url(../font/rocket.woff);
}

@font-face {
    font-family:'oldPhoto';
    src:url(../font/old_photo_studio.otf);
    src:url(../font/old_photo_studio.woff);
}

* {margin:0; padding:0; box-sizing: border-box;}

a{
    display:block;
    text-decoration: none;
    color:#000;
    
}
li{
    list-style: none;
}
span {
    display:block;
}
img {
    width:100%;
}
body,html {
    font-family: 'Nanum Barun Gothic';
    margin:0;
}




/*header*/

.wrap {
    
    width:75%;
    max-width:1400px;
    margin:0 auto;
    padding-top:5rem;
    padding-bottom:8rem;
}

.log_wrap {width:60%; margin:0 auto; }

/*tit_wrap*/

.tit_wrap {width:100%;}

.tit_wrap .tit {font-size:1.7em; font-family:'rocket'; font-weight: normal;}

.tit_wrap .sub_tit_wrap { margin-top:1rem; }

.tit_wrap .sub_tit { display:inline; position:relative; font-size:1.7em;  }



/*//tit_wrap*/



/*sns_login*/

.log_wrap .sns_login { margin-top:2rem; width:100%; border-bottom:1px #ddd solid; padding-bottom:1.5rem;}

.log_wrap .sns_login .button_wrap { margin:0 auto;  }

.log_wrap .sns_login .button_wrap .sns_btn { width:100%; height:40px; border:1px #999 solid; margin-top:1rem; }

.log_wrap .sns_login .button_wrap .sns_btn:hover { border-color:#000; }

.log_wrap .sns_login .button_wrap .sns_btn a{ padding-left:4rem; line-height:40px; position:relative; color:#9e9e9e; }

.log_wrap .sns_login .button_wrap .sns_btn a:hover {color:#000;}

.log_wrap .sns_login .button_wrap .sns_btn a::before { font-family: xeicon; position:absolute; left:1rem; font-size:1.2em; color:#9e9e9e; }

.log_wrap .sns_login .button_wrap .facebook_btn a:before{content:"\ebd3";}

.log_wrap .sns_login .button_wrap .facebook_btn a:hover:before { color:#3b5998; }

.log_wrap .sns_login .button_wrap .naver_btn a:before {content:"\ebf9";}

.log_wrap .sns_login .button_wrap .naver_btn a:hover:before {color:#2db400; }

.log_wrap .sns_login .button_wrap .kakao_btn a:before {content:"\ebee";}

.log_wrap .sns_login .button_wrap .kakao_btn a:hover:before {color:#3b1e08;  }

.log_wrap .sns_login .button_wrap .sns_btn:first-child { margin-top:0; }

.log_wrap .sns_login .button_wrap .sns_btn .txt { position:relative; }

.log_wrap .sns_login .button_wrap .sns_btn .txt:after { content:""; position:absolute; width:1px; height:22px; top:50%; left:-1rem; transform: translateY(-50%); background: #ddd; }

/*//sns_login*/



/*log_from*/

.log_wrap .log_from { margin-top:1.5rem; }

.log_wrap .log_from .form_login {width:100%;}

.log_wrap .log_from .form_login .log_box {width:100%; border:1px #999 solid; font-family: 'Nanum Barun Gothic'; }

.log_wrap .log_from .form_login .log_box .log_input {width:100%; height:50px; padding:0 20px 0 10px; box-sizing:border-box; border:0; font-size:1em; }

.log_wrap .log_from .form_login .log_box .log_input:focus { border:0; outline: none; color:#999}

.log_wrap .log_from .form_login .log_box:first-child { border-bottom:0; }

.log_wrap .log_from .form_login .log_box > label {position: absolute; overflow: hidden; font-size:0 ; opacity: 0; visibility: hidden;}

/*.security_box*/

.log_wrap .log_from .security_box { margin-top:1rem; }

.log_wrap .log_from .security_box .save_wrap { display:flex;  width:100%; justify-content: space-between; }

.log_wrap .log_from .security_box .save_wrap .save_box { color:#9e9e9e; }

.log_wrap .log_from .security_box .save_wrap .find {display:flex; }

.log_wrap .log_from .security_box .save_wrap .find .find_item { margin:0 1rem;  position:relative; color:#9e9e9e; }

.log_wrap .log_from .security_box .save_wrap .find .find_item:before { position:absolute; content: ""; width:1px; height:100%;  background:#ddd; top:50%; left:-1rem; transform: translateY(-50%); cursor: default; }

.log_wrap .log_from .security_box .save_wrap .find .find_item:first-child:before { display:none; }



.log_wrap .log_from .security_box .btn_wrap {width:100%; margin-top:1rem; }

.log_wrap .log_from .security_box .btn_wrap .tobtn { font-family: 'Nanum Barun Gothic'; width:100%; height:50px; background:#ffca00; border:0; color:#000; font-size:1.3em; letter-spacing: 0.1em;}

.log_wrap .log_from .security_box .btn_wrap .join_txt { margin-top:1.5rem; text-align: center; letter-spacing: 0.05em;}

.log_wrap .log_from .security_box .btn_wrap .join_txt a {display:inline; position:relative; }

.log_wrap .log_from .security_box .btn_wrap .join_txt a:before {position:absolute; content: ""; width:0; height:100%; background:#ffca00; top:0; left:0; z-index: -1; opacity: 0.7; transition: width 0.25s;}

.log_wrap .log_from .security_box .btn_wrap .join_txt a:hover:before {width:100%;}


/*//log_from*/


.back {position:absolute; top:20px; left:20px; font-size:30px;}


@media screen and (max-width:1200px) {
    
    .wrap {width:100%; padding:0 20px; padding-top:5rem; padding-bottom:8rem; }
    
    .wrap .log_wrap {width:100%;}
    
    
}
