@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 300;
  src: url(../font/NanumBarunGothicLight.eot);
  src: local('Nanum Barun Gothic Light'),
       local('NanumBarunGothicLight'),
       url(../font/NanumBarunGothicLight.eot?#iefix) format('embedded-opentype'),
       url(../font/NanumBarunGothicLight.woff2) format('woff2'),
       url(../font/NanumBarunGothicLight.woff) format('woff'),
       url(../font/NanumBarunGothicLight.ttf) format('truetype');
}

@font-face {
    font-family:'rocket';
    src:url(../font/rocket.otf);
    src:url(../font/rocket.woff);
}

@font-face {
    font-family:'oldPhoto';
    src:url(../font/old_photo_studio.otf);
    src:url(../font/old_photo_studio.woff);
}

* {margin:0; padding:0; }

a{
    display:block;
    text-decoration: none;
    color:#000;
    
}
li{
    list-style: none;
}
span {
    display:block;
}
img {
    width:100%;
}
body,html {
    font-family: 'Nanum Barun Gothic';
    margin:0;
}
/*header*/

.wrap {
    
    width:75%;
    max-width:1400px;
    margin:0 auto;
    padding-bottom:180px;
}