<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>크리에이터 클럽</title>

    <!--파비콘-->
    <link rel="shortsut icon" href="img/createrclub_favicon.png">

    <!--xeicon css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">

    <link rel="stylesheet" href="css/common.css" type="text/css">

    <!--jQuery CDN-->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

</head>


<body>



    <div class="follow">

        <div class="history-tl-container">
            <ul class="tl">
                <li class="tl-item active" ng-repeat="item in retailer_history" data="s1">

                    <a href="#s1" class="item-title active">우리는</a>

                </li>
                <li class="tl-item" ng-repeat="item in retailer_history" data="s2">

                    <a href="#s2" class="item-title">어디서</a>

                </li>
                <li class="tl-item" ng-repeat="item in retailer_history" data="s3">

                    <a href="#s3" class="item-title">무엇을</a>

                </li>
                <li class="tl-item" ng-repeat="item in retailer_history" data="s4">

                    <a href="#s4" class="item-title">어떻게</a>

                </li>

            </ul>

        </div>

    </div>



    <div id="headers"></div>



    <div class="wrap">


        <section>



            <!--section1_we-->



            <section class="section section_we" id="s1">
               
                <div class="section_wrap we_wrap">

                    <div class="info">

                        <div class="txt">
                            <div class="number">
                                <img src="img/1.png" alt="1">
                            </div>
                            <p class="title">
                                크레이터 클럽이<br class="pc_only">
                                뭐에요?
                            </p>

                        </div>


                        <div class="ex">


                            <p class="w1 line">
                                나와 다른 삶을 경험한[사람] 들과</p>
                            <span>삶에서 꼭 필요하지만,</span>
                            <p class="w2 line">
                                일상적으로 나눌 수 없던 주제들에 대해</p>
                            <span>함께 대화하고, 글쓰며</span>
                            <p class="w3 line">
                                서로의 삶의 영감 더하는 [커뮤니티] 입니다.</p>

                        </div>


                        <div class="more">
                            <a href="https://eunyeongee.github.io/createrclub/intro.html">
                                더보기
                            </a>
                        </div>
                    </div>

                    <div class="data place">

                        <ul>



                            <li>

                                <div class="place_content">
                                   
                                    <div class="content_wrap">
                                        <p class="tit t1">
                                            10,837명
                                        </p>
                                        <span class="con1">
                                            지난 3년 간,<br>
                                            크리에이터 클럽을 통해<br>
                                            타인의 삶을 여행하며, <br>
                                            자신의 삶에 신선한 영감을 <br>
                                            더한 사람들입니다.
                                        </span>
                                    </div>

                                </div>
                            </li>


                            <li>
                               
                                <div class="place_content">
                                   
                                    <div class="content_wrap">
                                        <p class="tit t2">
                                            2,190명
                                        </p>
                                        <span class="con2">
                                            현 시즌(4~6월)동안<br>
                                            활동하며,<br>
                                            생산적인 즐거움으로<br>
                                            자신의 일상을<br>
                                            채워나간 사람들 입니다.
                                        </span>
                                    </div>

                                </div>
                                
                            </li>

                            <li>
                                <div class="place_content">
                                   
                                    <div class="content_wrap">
                                        <p class="tit t3">
                                            40%
                                        </p>
                                        <span class="con3">
                                            커뮤니티 만족도 1위<br>
                                            매시즌 연속으로 참여하며,<br>
                                            건강한 인적환경을<br>
                                            지속적으로 우지해나가는<br>
                                            사람들의 비율입니다.
                                        </span>
                                    </div>

                                </div>
                            </li>




                        </ul>
                    </div>
                </div>


            </section>







            <!--section2_where-->





            <section class="section section_where" id="s2">
                <div class="section_wrap where_wrap">

                    <div class="info">


                        <div class="txt">
                            <div class="number">
                                <img src="img/2.png" alt="2">
                            </div>
                            <p class="title">
                                커뮤니티 장소가<br class="pc_only">
                                어디에요?
                            </p>

                        </div>


                        <div class="ex">

                            신뢰할 수 있는 커뮤니티 공간에서

                            <br>

                            <p class="line">
                                취향이 맞는, 다른팀 멤버들과 만나
                            </p>

                            <br>

                            함께 취미를 만들어보세요!

                        </div>




                        <div class="more">
                            <a href="https://eunyeongee.github.io/createrclub/place.html">
                                자세히보기
                            </a>
                        </div>






                    </div>

                    <div class="data place">
                        <ul>



                            <li>
                                <div class="place_content c1">
                                    <div class="m">
                                        <div class="i_wrap">
                                            <img src="img/place_mangwon.jpg" alt="망원점">
                                        </div>
                                        <p class="tit t1">
                                            망원점(거실)
                                        </p>
                                        <span class="con1">
                                            서울시 마포구 서교동474-20 <br>
                                            (망원역6호선, 도보 4분 거리)<br>
                                            #아늑한분위기
                                        </span>
                                    </div>
                                </div>
                            </li>


                            <li>
                                <div class="place_content c2">
                                    <div class="g">
                                        <div class="i_wrap">
                                            <img src="img/place_gangnam.jpg" alt="강남점">
                                        </div>
                                        <p class="tit t2">
                                            강남점(작업실)
                                        </p>
                                        <span class="con2">
                                            서울시 강남구 테헤란로 126 B1 <br>
                                            (강남역/ 역삼역 도보 5분 거리) <br>
                                            #모던한분위기
                                        </span>
                                    </div>
                                </div>
                            </li>




                        </ul>
                    </div>
                </div>


            </section>






            <!--section3_what-->





            <section class="section section_what" id="s3">
                <div class="section_wrap what_wrap">

                    <div class="info">


                        <div class="txt">

                            <div class="number">
                                <img src="img/3.png" alt="3">
                            </div>
                            <p class="title">
                                무슨 프로그램이<br class="pc_only">
                                있나요?
                            </p>

                        </div>

                        <div class="ex">


                            <p class="line">9개의 테마중 한 가지</p>를 선택하여,

                            <br>

                            시즌동안 하나의 <p class="line">팀으로 활동합니다.</p>

                            <br>

                            타인의 생각을 여행하며,
                            <br>
                            <p class="line">새로운 자신의 모습</p>을 발견해보세요!


                        </div>


                        <div class="more">
                            <a href="https://eunyeongee.github.io/createrclub/meeting.html">
                                자세히보기
                            </a>
                        </div>
                    </div>


                    <div class="data place">
                        <ul>



                            <li>
                                <div class="place_content c1">

                                    <div class="content_wrap">
                                        <div class="i_wrap">
                                            <img src="img/group01.jpg" alt="모임01">
                                        </div>
                                        <p class="tit t2">
                                            지적대화
                                        </p>
                                        <span class="con2">
                                            타인의 생각을 여행하며<br>
                                            나만의 기준을 만들 수 있는 주제
                                        </span>
                                    </div>



                                </div>
                            </li>


                            <li>
                                <div class="place_content c2">

                                    <div class="content_wrap">
                                        <div class="i_wrap">
                                            <img src="img/group02.jpg" alt="모임02">
                                        </div>
                                        <p class="tit t2">
                                            일하는 사람들
                                        </p>
                                        <span class="con2">
                                            일만 하기 싫습니다. <br>놀기만 하지도 않습니다.<br>
                                            우리는 놀면서 일합니다.
                                        </span>
                                    </div>



                                </div>
                            </li>

                            <li>
                                <div class="place_content c3">

                                    <div class="content_wrap">
                                        <div class="i_wrap">
                                            <img src="img/group04.jpg" alt="모임03">
                                        </div>
                                        <p class="tit t2">
                                            나 다시보기
                                        </p>
                                        <span class="con2">
                                            타인에게 비치는 <br>'새로운 나'를 발견하는 시간
                                        </span>
                                    </div>

                                </div>
                            </li>




                        </ul>
                    </div>
                </div>


            </section>


            <!--section4_how-->




            <section class="section section_how" id="s4">
                <div class="section_wrap how_wrap">

                    <div class="info">

                        <div class="txt">
                            <div class="number">
                                <img src="img/4.png" alt="4">
                            </div>
                            <p class="title">
                                가입 방법은<br class="pc_only">
                                어떻게 되나요?
                            </p>

                        </div>

                        <div class="ex">

                            원할 때면, 언제든지
                            <p class="line"> [앱]</p>
                            을 통해
                            <br>
                            <p class="line">매력적인 활동</p>에 참여할 수 있어요


                        </div>


                        <div class="more">
                            <a href="https://apps.apple.com/kr/app/id1478026059?mt=8">
                                다운받기
                            </a>
                        </div>


                    </div>


                    <div class="data place">
                        <ul>
                            <li>
                                <div class="c1">
                                    <img src="img/app.png" alt="APP">
                                </div>
                            </li>
                            <li>
                                <div class="c2">
                                    <img src="img/app2.png" alt="APP">
                                </div>
                            </li>
                            <li>
                                <div class="c3">
                                    <div class="icon">
                                        <img src="img/app_icon.png" alt="app_icon">
                                    </div>
                                    <p class="now">지금 바로<br>
                                        크클앱을 설치하여,<br>
                                        실제 멤버들의 생각과 <br>
                                        활동들을 둘러보세요!
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>




            </section>


        </section>

    </div>

    <div id="footers"></div>




    <script src="js/common.js">
    </script>

    <script src="js/header_footer.js"></script>


</body>

</html>