<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>크리에이터 클럽</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">

    <script src="js/jquery-3.5.1.js">
    </script>
    <script src="js/main.js">
    </script>
    
</head>




<body>
    <div class="wrap">

        <!--header-->
        
    
       
        <div class="follow">
           
            <div class="history-tl-container">
                <ul class="tl">
                    <li class="tl-item active" ng-repeat="item in retailer_history" data="s1">

                        <a href="#s1" class="item-title">우리는</a>

                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history" data="s2">

                        <a href="#s2" class="item-title">어디서</a>

                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history" data="s3">

                        <a href="#s3" class="item-title">무엇을</a>

                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history" data="s4">

                        <a href="#s4" class="item-title">어떻게</a>

                    </li>

                </ul>

            </div>
            
        </div>
        



        <header>



            <div class="h_wrap">
                <div class="logo">
                    <a href="https://eunyeongee.github.io/createrclub/">
                        <img src="img/logo-black.png" alt="크리에이터클럽">
                    </a>
                </div>




                <nav>
                    <ul>
                        <li>
                            <a href="#">크리에이터 클럽이란?</a>
                        </li>
                        <li>
                            <a href="#">커뮤니티 공간</a>
                            <ul class="sub">
                                <li>
                                    <a href="#">망원점</a>
                                </li>
                                <li>
                                    <a href="#">강남점</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="#">정기모임</a>
                            <ul class="sub">
                                <li>
                                    <a href="#">대화팀</a>
                                </li>
                                <li>
                                    <a href="#">쓰기팀</a>
                                </li>

                            </ul>

                        </li>
                        <li>
                            <a href="#">후기</a>

                            <ul class="sub">
                                <li>
                                    <a href="#">크클후기</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>



                <nav class="side_menu">
                    <div class="s_wrap">
                        <ul>
                            <li>
                                <a href="#">
                                    로그인
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    회원가입
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="sns_menu">
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="img/icon-facebook.png" alt="facebook">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="img/icon-instagram.png" alt="instagram">

                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="img/icon-naver.png" alt="naver">
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>


        <section>



            <!--section1_we-->



            <section class="we" id="s1">
                <div class="we_wrap">
                    <div class="weAre">
                        <img src="img/weAre.png" alt="우리는">
                    </div>
                    <div class="info">
                        <div class="number">
                            <img src="img/1.png" alt="1">
                        </div>
                        <div class="txt">
                            <p class="title">
                                크레이터 클럽이<br>
                                뭐에요?
                            </p>
                            <div class="ex">


                                <p class="w1">
                                    나와 다른 삶을 경험한[사람] 들과</p>
                                <span>삶에서 꼭 필요하지만,</span>
                                <p class="w2">
                                    일상적으로 나눌 수 없던 주제들에 대해</p>
                                <span>함께 대화하고, 글쓰며</span>
                                <p class="w3">
                                    서로의 삶의 영감 더하는 [커뮤니티] 입니다.</p>

                            </div>
                        </div>
                        <div class="more">
                            <a href="#">
                                더보기
                            </a>
                        </div>
                    </div>
                    <div class="data">
                        <ul>
                            <li>
                                <div class="c1">
                                    <div class="inspiration">
                                        <p class="t1">
                                            10,837명
                                        </p>
                                        <span class="con1">
                                            지난 3년 간,<br>
                                            크리에이터 클럽을 통해<br>
                                            타인의 삶을 여행하며, <br>
                                            자신의 삶에 신선한 영감을 <br>
                                            더한 사람들입니다.
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="c2">
                                    <div class="joy">
                                        <p class="t2">
                                            2,190명
                                        </p>
                                        <span class="con2">
                                            현 시즌(4~6월)동안<br>
                                            활동하며,<br>
                                            생산적인 즐거움으로<br>
                                            자신의 일상을<br>
                                            채워나간 사람들 입니다.<br>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="c3">
                                    <div class="sat">
                                        <p class="t3">
                                            40%
                                        </p>
                                        <span class="con3">
                                            커뮤니티 만족도 1위<br>
                                            매시즌 연속으로 참여하며,<br>
                                            건강한 인적환경을<br>
                                            지속적으로 우지해나가는<br>
                                            사람들의 비율입니다.
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>


            </section>







            <!--section2_where-->





            <section class="where" id="s2">
                <div class="where_wrap">
                    <div class="whereIs">
                        <img src="img/whereIs.png" alt="어디서">
                    </div>
                    <div class="info2">
                        <div class="number2">
                            <img src="img/2.png" alt="2">
                        </div>
                        <div class="txt2">
                            <p class="title2">
                                커뮤니티 장소가<br>
                                어디에요?
                            </p>
                            <div class="ex2">

                                <span>신뢰할 수 있는 커뮤니티 공간에서</span>
                                <p class="w1">
                                    취향이 맞는, 다른팀 멤버들</p> <span class="space">과 만나</span>
                                <br>
                                <span>함께 취미를 만들어보세요!</span>

                            </div>
                        </div>
                        <div class="map">
                            <a href="#">
                                지도보기
                            </a>
                        </div>
                    </div>
                    <div class="place">
                        <ul>



                            <li>
                                <div class="c1">
                                    <div class="m">
                                        <i>
                                            <img src="img/mangwon.jpg" alt="망원점">
                                        </i>
                                        <p class="t1">
                                            망원점(거실)
                                        </p>
                                        <span class="con1">
                                            서울시 마포구 서교동474-20 <br>
                                            (망원역6호선, 도보 4분 거리<br>
                                            #아늑한분위기
                                        </span>
                                    </div>
                                </div>
                            </li>


                            <li>
                                <div class="c2">
                                    <div class="g">
                                        <i>
                                            <img src="img/gangnam.jpg" alt="강남점">
                                        </i>
                                        <p class="t2">
                                            강남점(작업실)
                                        </p>
                                        <span class="con2">
                                            서울시 강남구 테헤란로 126 B1 <br>
                                            (강남역/ 역삼역 도보 5분 거리) <br>
                                            #모던한분위기
                                        </span>
                                    </div>
                                </div>
                            </li>




                        </ul>
                    </div>
                </div>


            </section>






            <!--section3_what-->





            <section class="what" id="s3">
                <div class="where_wrap">
                    <div class="whereIs">
                        <img src="img/whatAre.png" alt="무엇을">
                    </div>
                    <div class="info2">
                        <div class="number2">
                            <img src="img/3.png" alt="3">
                        </div>
                        <div class="txt2">
                            <p class="title2">
                                무슨 프로그램이<br>
                                있나요?
                            </p>
                            <div class="ex2">

                                <p>
                                    9개의 테마중 한 가지를 선택하여,
                                    시즌동안 하나의 팀으로 활동합니다.
                                    타인의 생각을 여행하며,
                                    새로운 자신의 모습을 발견해보세요!
                                </p>

                            </div>
                        </div>
                        <div class="map">
                            <a href="#">
                                자세히보기
                            </a>
                        </div>
                    </div>
                    <div class="place">
                        <ul>



                            <li>
                                <div class="c1">
                                    <div class="m">
                                       <p class="t1">
                                            대화팀
                                        </p>
                                        <i>
                                            <img src="img/passion.png" alt="기름붓기">
                                        </i>
                                        
                                        <div class="text">
                                        
                                        <div class="m_t1">
                                            <div class="hot">
                                                <p>hot</p>
                                            </div>
                                            <p class="hot2">
                                                기름붓기
                                            </p>
                                        </div>
                                        
                                        
                                        <span class="con1">
                                            삶에 열정을 가진 사람들과<br>
                                            긍정적인 자극을<br>
                                            나누는 3개월<br>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </li>


                            <li>
                                <div class="c2">
                                    <div class="g">
                                       <p class="t2">
                                            쓰기팀
                                        </p>
                                        <i>
                                            <img src="img/write.jpg" alt="나를 쓰다">
                                        </i>
                                        
                                        <div class="text">
                                        
                                        <div class="m_t1">

                                            <div class="hot">
                                                <p>hot</p>
                                            </div>
                                            <p class="hot2">
                                                나를쓰다
                                            </p>

                                        </div>
                                        
                                        
                                        <span class="con1">
                                            글을통해<br>
                                            ‘진짜 나’를 알아가는 3개월
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </li>




                        </ul>
                    </div>
                </div>


            </section>
                
                
                <!--section4_how-->
                
                
                
                
                <section class="how" id="s4">
                <div class="we_wrap">
                    <div class="weAre">
                        <img src="img/howAre.png" alt="어떻게">
                    </div>
                    <div class="info">
                        <div class="number">
                            <img src="img/4.png" alt="4">
                        </div>
                        <div class="txt">
                            <p class="title">
                                가입 방법은<br>
                                어떻게 되나요?
                            </p>
                            <div class="ex">
                                <p>
                                    원할 때면, 언제든지 [앱]을 통해<br>
                                    매력적인 활동에 참여할 수 있어요
                                </p>
                            </div>
                        </div>
                        <div class="more">
                            <a href="#">
                                다운받기
                            </a>
                        </div>
                    </div>
                    <div class="data">
                        <ul>
                            <li>
                                <div class="c1">
                                    <img src="img/app.png" alt="APP">
                                </div>
                            </li>
                            <li>
                                <div class="c2">
                                    <img src="img/app2.png" alt="APP">
                                </div>
                            </li>
                            <li>
                                <div class="c3">
                                  <i>
                                      <img src="img/app_icon.png" alt="app_icon">
                                  </i>
                                   <p class="now">지금 바로<br>
                                      크클앱을 설치하여,<br>
                                      실제 멤버들의 생각과 <br>
                                      활동들을 둘러보세요!
                                   </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                
                


            </section>


        </section>
        
        
        <!--footer-->
        
        
        <footer>
            <div class="f_wrap">
                
                    <div class="f1">
                        <div class="logo">

                            <a href="index.html">

                                <img src="img/footer_logo.png" alt="footer_logo">

                            </a>
                        </div>
                    </div>
                    <div class="f2">
                        <div class="web">
                           <ul>
                               <li>
                                   <a href="#">
                                       개인정보처리방침
                                   </a>
                               </li>
                               <li>
                                   |
                               </li>
                               <li>
                                   <a href="#">
                                       이용약관
                                   </a>
                               </li>
                           </ul>
                            
                           
                        </div>
                        
                        <div class="company_info">
                            
                            <p class="title">
                                COMPANY INFO
                            </p>
                            <address>
                                열정에기름붓기 | 대표 표시형 <br>
                                개인정보책임자 | 위은조 <br>
                                사업자번호 : 440-88-01317 <br>
                                주소 : 서울시 강남구 테헤란로 126 지하 1층<br>
                                Copyright 2021 열정에기름붓기 All rights reserved.
                            </address>
                            
                        </div>
                        
                    </div>
                    <div class="f3">
                       <div class="costomer_center">
                           <p class="title">
                               CUSTOMER CENTER
                           </p>
                           <address>
                               대표전화 : 010-6695-3193 <br>
                               Email : creatorclub@passionoil.kr <br>
                               문의사항 : 카카오플러스 친구 &#60;크리에이터클럽&#62;
                           </address>
                       </div>
                        
                    </div>
                    
                    
            </div>
        </footer>
    </div>

</body>

</html>




































































